Repository carlosthe19916/trusti, changes with the labels that .github/labeler.yaml gives for each.
All labels: ci, ui, server

.github/labeler.yaml:

ci:
  - changed-files:
      - any-glob-to-any-file:
          - .github/**

ui:
  - changed-files:
      - any-glob-to-any-file:
          - ui/**

server:
  - changed-files:
      - any-glob-to-any-file:
          - importer/**
          - importer-cli/**
          - server/**
          - pom.xml

Fix ui image builder
  .github/workflows/image-build.yaml
Labels: ci

Add ui maven module
  pom.xml
  server/src/main/java/org/trusti/resources/AdvisoryImportResource.java
  server/src/main/resources/META-INF/resources/.gitignore
  server/src/main/resources/application.properties
  server/src/test/java/org/trusti/resources/TasksResourceTest.java
  ui/pom.xml
Labels: ui, server

Add UI internal
  importer/pom.xml
  pom.xml
  server/pom.xml
  server/src/main/java/org/trusti/ui/BrandingStrings.java
  server/src/main/java/org/trusti/ui/StaticResources.java
  server/src/main/java/org/trusti/ui/UIFilter.java
  server/src/main/java/org/trusti/ui/UIServer.java
  server/src/main/java/org/trusti/ui/UiEnv.java
  server/src/main/resources/application.properties
  server/src/main/resources/templates/.gitignore
  ui/client/src/app/api/rest.ts
  ui/client/src/mocks/browser.ts
  ui/common/src/environment.ts
  ui/common/src/proxies.ts
  ui/pom.xml
Labels: ui, server

Add UI internal
  server/pom.xml
  server/src/main/resources/templates/.gitignore
Labels: server

Add UI internal
  server/src/main/resources/templates/index.html.ejs
Labels: server

Fix container image
  importer.Dockerfile
  server.Dockerfile
Labels: none

Fix container image
  server/pom.xml
Labels: server

Fix ui
  importer.Dockerfile
  server.Dockerfile
  server/src/main/java/org/trusti/ui/BrandingStrings.java
  server/src/main/java/org/trusti/ui/StaticResources.java
  server/src/main/java/org/trusti/ui/UIFilter.java
  server/src/main/java/org/trusti/ui/UIServer.java
  server/src/main/java/org/trusti/ui/UiEnv.java
Labels: server
